# Rust build artifacts
/target/

# Installer output
/dist/

# Backup files from rustfmt
**/*.rs.bk

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific files
Thumbs.db
.DS_Store
